###   Daily Task 1

In [1]:
# Daily Task 1 - Come up with 2 examples of String Function

In [2]:
first_name = "rajesh"
last_name = "KuMar"
proit = "Data Science is fantastic"

## Capitalize
Return a capitalized version of the string.

In [3]:
first_name.capitalize()

'Rajesh'

In [4]:
last_name.capitalize()

'Kumar'

### Casefold()
Return a version of the string suitable for caseless comparisons.
The casefold() method converts all characters of the string into lowercase letters and returns a new string.

In [5]:
first_name.casefold()

'rajesh'

In [6]:
last_name.casefold()

'kumar'

### Center()
Return a centered string of length width.

In [13]:
proit = "Data Science is fantastic"
new = proit.center(40, '*')
print(new)

*******Data Science is fantastic********

In [9]:
sentence = "Python is awesome"

# returns the centered padded string of length 24 
new_string = sentence.center(24, '*')

print(new_string)

***Python is awesome****

## Count()

In [16]:
new_msg = 'Data science drives discoveries, deploying deep analytics.'
new_msg.count('d')

4

In [18]:
sentence = "Python is awesome"
sentence.count('o')

2

### Endswith()
Return True if S ends with the specified suffix, False otherwise.

In [19]:
sentence.endswith('awesome')

True

In [20]:
new_msg.endswith('deep')

False

### expandtabs()
Return a copy where all tab characters are expanded using spaces.

In [21]:
str = 'xyz\t12345\tabc'

In [22]:
str.expandtabs()

'xyz     12345   abc'

In [25]:
str_1 = 'ffgdsd\tlkgskjsgd\t345678'

In [26]:
str_1.expandtabs()

'ffgdsd  lkgskjsgd       345678'

### Find()
Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].

In [27]:
sentence = "Python is awesome"

In [28]:
sentence.find('is')

7

In [29]:
new_msg = 'Data science drives discoveries, deploying deep analytics.'
new_msg.find('deploying')

33

### Format()

In [30]:
print("Hi My Name is {} and study data science with {}".format("Shaik","ProIT"))

Hi My Name is Shaik and study data science with ProIT

In [31]:
print("Hi My Name is {name} and study data science with {place}".format(name="Shaik",place="ProIT"))

Hi My Name is Shaik and study data science with ProIT

In [ ]:
# format.map(),index(),isalnum,isalpha,isascii,isdecimal,isdigit,isidentifier,islower,isnumeric,isprintable,isspac,istitle,
# isupper,join,ljust,lower,lstrip,maketrans,partition,removeprefix,removesuffix,replace,rfind,rindex,rjust,rpartition,rsplit,
# rstrip,split,splitlines,startswith,strip,swapcase,title,translate,upper,zfill

In [ ]:
# lower - Return a copy of the string converted to lowercase.
first_name = "raJeSh"
last_name = "KuMar"

In [32]:
first_name.lower()

'rajesh'

In [33]:
last_name.lower()

'kumar'

In [ ]:
# upper - Return a copy of the string converted to uppercase.

In [34]:
first_name.upper()

'RAJESH'

In [35]:
last_name.upper()

'KUMAR'

In [36]:
#lstrip
name_1 = '    Virat  '
name_1.lstrip()

'Virat  '

In [37]:
#rstrip
name_1.rstrip()

'    Virat'

In [39]:
#strip
name_1.strip()

'Virat'

In [40]:
#index
name_1.index('a')

7

In [41]:
#startswith
new_msg = 'Data science drives discoveries, deploying deep analytics.'
new_msg.startswith('s')

False

In [42]:
new_msg.startswith('D')

True

In [ ]:
# The isalnum() method returns True if all characters in the string are alphanumeric (either alphabets or numbers).
#If not, it returns False.

In [49]:
sent_1 = "Chatgpt4"
sent_2 = "Chatgpt 5"

In [44]:
sent_1.isalnum()

True

In [50]:
sent_2.isalnum()

False

In [ ]:
# he isalpha() returns:

# True if all characters in the string are alphabets (can be both lowercase and uppercase).
# False if at least one character is not alphabet.

In [51]:
name_1 = "raJesh"
name_2 = "KuMar33"

In [52]:
name_1.isalpha()

True

In [53]:
name_2.isalpha()

False