###   Daily Task 1

In [1]:
# Daily Task 1 - Come up with 2 examples of String Function

In [2]:
first_name = "rajesh"
last_name = "KuMar"
proit = "Data Science is fantastic"

## Capitalize
Return a capitalized version of the string.

In [3]:
first_name.capitalize()

'Rajesh'

In [4]:
last_name.capitalize()

'Kumar'

### Casefold()
Return a version of the string suitable for caseless comparisons.
The casefold() method converts all characters of the string into lowercase letters and returns a new string.

In [5]:
first_name.casefold()

'rajesh'

In [6]:
last_name.casefold()

'kumar'

### Center()
Return a centered string of length width.

In [7]:
proit = "Data Science is fantastic"
new = proit.center(40, '*')
print(new)

*******Data Science is fantastic********

In [8]:
sentence = "Python is awesome"

# returns the centered padded string of length 24 
new_string = sentence.center(24, '*')

print(new_string)

***Python is awesome****

## Count()

In [9]:
new_msg = 'Data science drives discoveries, deploying deep analytics.'
new_msg.count('d')

4

In [10]:
sentence = "Python is awesome"
sentence.count('o')

2

### Endswith()
Return True if S ends with the specified suffix, False otherwise.

In [11]:
sentence.endswith('awesome')

True

In [12]:
new_msg.endswith('deep')

False

### expandtabs()
Return a copy where all tab characters are expanded using spaces.

In [13]:
str = 'xyz\t12345\tabc'

In [14]:
str.expandtabs()

'xyz     12345   abc'

In [15]:
str_1 = 'ffgdsd\tlkgskjsgd\t345678'

In [16]:
str_1.expandtabs()

'ffgdsd  lkgskjsgd       345678'

### Find()
Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].

In [17]:
sentence = "Python is awesome"

In [18]:
sentence.find('is')

7

In [19]:
new_msg = 'Data science drives discoveries, deploying deep analytics.'
new_msg.find('deploying')

33

### Format()

In [20]:
print("Hi My Name is {} and study data science with {}".format("Shaik","ProIT"))

Hi My Name is Shaik and study data science with ProIT

In [21]:
print("Hi My Name is {name} and study data science with {place}".format(name="Shaik",place="ProIT"))

Hi My Name is Shaik and study data science with ProIT

In [22]:
# format.map(),index(),isalnum,isalpha,isascii,isdecimal,isdigit,isidentifier,islower,isnumeric,isprintable,isspac,istitle,
# isupper,join,ljust,lower,lstrip,maketrans,partition,removeprefix,removesuffix,replace,rfind,rindex,rjust,rpartition,rsplit,
# rstrip,split,splitlines,startswith,strip,swapcase,title,translate,upper,zfill

In [23]:
# lower - Return a copy of the string converted to lowercase.
first_name = "raJeSh"
last_name = "KuMar"

In [24]:
first_name.lower()

'rajesh'

In [25]:
last_name.lower()

'kumar'

In [26]:
# upper - Return a copy of the string converted to uppercase.

In [27]:
first_name.upper()

'RAJESH'

In [28]:
last_name.upper()

'KUMAR'

In [43]:
#lstrip - Return a copy of the string with leading whitespace removed.
name_1 = '    Virat  '
name_1.lstrip()

'Virat  '

In [30]:
#rstrip- Return a copy of the string with trailing whitespace removed.
name_1.rstrip()

'    Virat'

In [31]:
#strip-Return a copy of the string with leading and trailing whitespace removed.
name_1.strip()

'Virat'

In [32]:
#index-Return the lowest index in S where substring sub is found,such that sub is contained within S[start:end].
name_1.index('a')

7

In [33]:
#startswith - Return True if dataset starts with the specified prefix, False otherwise.
new_msg = 'Data science drives discoveries, deploying deep analytics.'
new_msg.startswith('s')

False

In [34]:
new_msg.startswith('D')

True

In [35]:
# The isalnum() method returns True if all characters in the string are alphanumeric (either alphabets or numbers).
#If not, it returns False.

In [36]:
sent_1 = "Chatgpt4"
sent_2 = "Chatgpt 5"

In [37]:
sent_1.isalnum()

True

In [38]:
sent_2.isalnum()

False

In [39]:
# he isalpha() returns:

# True if all characters in the string are alphabets (can be both lowercase and uppercase).
# False if at least one character is not alphabet.

In [40]:
name_1 = "raJesh"
name_2 = "KuMar33"

In [41]:
name_1.isalpha()

True

In [42]:
name_2.isalpha()

False

In [ ]:
# The isdecimal() returns:

# True if all characters in the string are decimal characters.
# False if at least one character is not decimal character.

In [44]:
num_2 = '123456'

In [45]:
num_2.isdecimal()

True

In [46]:
num_3 = 'dhdghd456'

In [47]:
num_3.isdecimal()

False

In [48]:
# rjust - The rjust() method right aligns the string up to a given width using a specified character.
sent_1 = "Chatgpt4"
sent_1.rjust(12 , '*')

'****Chatgpt4'